<!-- index.ejs -->
<% const animals = ["Cat", "Dog", "Lemur", "Hawk"] %>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <%= message %>
    <%= locals.foo %>
    <ul>
      <% animals.map((animal) => { %>
        <li><%= animal %>s are cute</li>
      <% }) %>
    </ul>
    <ul>
      <% users.forEach((user) => { %>
        <%- include('users/user', {user:user}); %>
      <% }); %>
    </ul>
  </body>
</html>



